* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --clr-main: #191919;
  --clr-main-light: #efdaf9;
}

.container {
  max-width: 1200px;
  padding-inline: 2rem;
  margin: 0 auto;
}

.checkout {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: auto;
  margin-top: 30px;
}

.main-title {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-main);
  border-bottom: 3px solid black;
}

.logo {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-link {
  text-decoration: none;
  color: rgb(230, 230, 230);
  font-size: 1.2rem;
}

.menu-link:hover {
  text-decoration: underline;
}

.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-block: 2rem;
  justify-items: center;
}

.producto {
  max-width: fit-content;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 570;
  gap: 1px;
  border-radius: 8px;
  border: solid #f0ecec;
  padding: 10px;
}

.producto > div {
  padding: 1rem;
  background-color: var(--clr-main-light);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center; /* Centra horizontalmente */
}

.producto > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.ver-mas {
  text-decoration: none;
  background-color: var(--clr-main);
  color: white;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: max-content;
  border-radius: 0.5rem;
  transition: 0.2s;
}

.producto .ver-mas:hover {
  background-color: black;
  color: white;
}

.producto-detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.producto-detalle p {
  width: 60%;
}

.producto-detalle img {
  width: 300px;
}

.producto-detalle-info h3 {
  font-size: 2rem;
}

.categoria {
  font-size: 0.8rem;
  color: #424242;
  margin-top: 1rem;
}

.precio {
  font-size: 1.5rem;
  font-weight: 600;
}

.stock {
  font-size: 1rem;
  font-weight: 600;
}

.descripcion {
  font-size: 1.5rem;
  font-weight: 600;
}

.item-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem; /* Ajusta el tamaño del texto según tu diseño */
}

.item-count p {
  display: flex;
  justify-content: center;
}

.item-count button {
  width: 60px;
  height: 40px;
  background-color: var(--clr-main);
  color: white;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.item-count button:hover {
  background-color: black;
}

.agregar-al-carrito,
.enviar {
  width: 100%;
  text-decoration: none;
  max-width: 275px;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;

  padding: 1rem;
  text-align: center;
  background-color: var(--clr-main);
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
}

.agregar-al-carrito:hover,
.enviar:hover {
  background-color: black;
  color: white;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.formulario button {
  width: 285px;
}

.formulario input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  width: 275px;
}

.formulario input:focus {
  outline: 0;
  border: 2px solid var(--clr-main);
  outline: 2px solid var(--clr-main);
}

@media screen and (max-width: 1070px) {
  .productos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 780px) {
  .checkout {
    max-width: 100%;
    padding-inline: 1rem;
  }

  .productos {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .descripcion {
    font-size: 1.1rem;
  }

  .formulario input {
    width: 100%;
  }

  .item-count button,
  .agregar-al-carrito,
  .enviar {
    width: 100%;
  }

  .formulario button {
    width: 100%;
  }

  .navbar {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    max-width: none;
    width: 100%;
    background-color: var(--clr-main);
  }

  .menu {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 540px) {
  .productos {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
  }
}
